/* Reset CSS Global Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 2px solid red; */
}

body {
  font-family: "Roboto Condensed", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #614385, #516395) no-repeat;
  height: 100vh;
  color: #fff;
  letter-spacing: 2px;
}

.game-container {
  text-align: center;
  font-size: 1.438rem;
}

.turn-text {
  text-align: center;
  font-size: 1.875rem;
  margin-bottom: 2em;
}

.scores {
  display: flex;
  gap: 90px;
  justify-content: space-around;
  margin: 1.25em 0 1.25em 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 10px;
  padding: 10px;
}

.grid .cell {
  width: 100px;
  height: 100px;
  background-color: transparent;
  border: 3px solid #fff;
  border-radius: 20px;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.grid .cell:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}

#restart,
#new-game {
  width: 55%;
  padding: 10px;
  border-radius: 20px;
  margin-top: 40px;
  border: none;
  font-size: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: #614385;
  cursor: pointer;
  transition: background-color 0.3s;
}

#restart:hover,
#new-game:hover {
  background-color: #e6e6e6;
  transform: translateY(1.1px);
  transition: background-color 0.3s, transform 0.3s;
}

#mini-cell0,
#mini-cell1,
#mini-cell2,
#mini-cell3,
#mini-cell4,
#mini-cell5,
#mini-cell6,
#mini-cell7,
#mini-cell8 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px;
}

.mini-game {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  outline: transparent;
  border: none;
  cursor: pointer;
}

.win-message {
  margin-top: 20px;
  position: relative;
  left: 110%;
  font-family: inherit;
  font-style: italic;
}

.win-text {
  font-size: 1.5rem;
  color: lime;
}

/* Media query for small screens (up to 600px width, targeting smartphones and smaller tablets in portrait mode) */
@media screen and (max-width: 600px) {
  /* Adjusting the game container font size for small screens */
  .game-container {
    font-size: 1.2rem;
  }

  /* Adjusting the turn text font size and margin for small screens */
  .turn-text {
    font-size: 1.5rem;
    margin-bottom: 1em;
  }

  /* Adjusting the gap and margin of the scores container for small screens */
  .scores {
    gap: 40px;
    margin: 1em 0;
  }

  /* Adjusting the grid layout for small screens */
  .grid {
    grid-template-columns: repeat(3, 80px);
    grid-gap: 5px;
    padding: 5px;
  }

  /* Adjusting the button size and font size in the grid for small screens */
  .grid .cell {
    width: 80px;
    height: 80px;
    font-size: 1.5rem;
  }

  /* Adjusting the width, margin, and font size of restart and new game buttons for small screens */
  #restart,
  #new-game {
    width: 70%;
    margin-top: 20px;
    font-size: 12px;
  }

  /* Adjusting the margin of the new game button for small screens */
  #new-game {
    margin-top: 14px;
  }
}

/* Media query for desktop and laptop screens with a minimum width of 1089px */
@media screen and (min-width: 1089px) {
  /* Adjusting the game container for larger screens */
  .game-container {
    font-size: 19px;
    margin-top: 30px;
  }

  /* Adjusting the grid layout for larger screens */
  .grid {
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
  }

  /* Adjusting the styling of buttons in the grid for larger screens */
  .grid .cell {
    width: 80px;
    height: 80px;
    background-color: transparent;
    border: 3px solid #fff;
    border-radius: 20px;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-left: 15px;
  }

  /* Adjusting the styling of restart and new game buttons for larger screens */
  #restart,
  #new-game {
    width: 50%;
    font-size: 12px;
  }

  /* Adjusting the margin of the buttons container for larger screens */
  .buttons {
    margin-bottom: 20px;
  }

  /* Adjusting the styling of the turn text for larger screens */
  .turn-text {
    text-align: center;
    font-size: 1.875rem;
    position: relative;
    top: 20px;
    font-size: 19px;
  }

  /* Adjusting the styling of scores container for larger screens */
  .scores {
    gap: 40px;
    margin: 1em 0;
    font-size: 16px;
  }
}

/* Media query for medium screens (601px - 1024px width) */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  /* Adjusting the game container font size and margin for medium screens */
  .game-container {
    font-size: 1.5rem;
    margin-top: 20px;
  }

  /* Adjusting the turn text font size, margin, and fallback for medium screens */
  .turn-text {
    font-size: 1.75rem;
    margin-bottom: 1em;
    font-size: 19px;
  }

  /* Adjusting the gap, margin, and font size of the scores container for medium screens */
  .scores {
    gap: 30px;
    margin: 0.75em 0;
    font-size: 16px;
  }

  /* Adjusting the grid layout for medium screens */
  .grid {
    grid-template-columns: repeat(3, 100px);
    grid-gap: 20px;
    padding: 10px;
  }

  /* Adjusting the button size, font size, and margin for medium screens */
  .grid .cell {
    width: 88px;
    height: 88px;
    font-size: 1.75rem;
    margin-left: 10px;
  }

  /* Adjusting the width, margin, and font size of restart and new game buttons for medium screens */
  #restart,
  #new-game {
    width: 45%;
    margin-top: 15px;
    font-size: 12px;
  }

  /* Adjusting the margin of the new game button for medium screens */
  #new-game {
    margin-top: -16px;
  }
}
